:root {
    --color-primary: #2A3840;
    --color-secondary: #F0EEEE;
    --color-tertiary: #EA4654;
    --color-alternate: #EA8F72;
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    line-height: 2;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    margin: 0 auto;
    width: 90%; 

}
 
img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
}
h1, h2, h3, p {
    color: var(--color-primary);

}


a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-alternate);
}
/* END OF GENERAL STYLING */

nav[id="mobile-nav"]{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-secondary);
    position: relative;
}

button[id="open-sidebar"] {
    cursor: pointer;
}

bento-sidebar[id="sidebar1"] li {
    padding: 2rem;
}

.nav-links {
    display: none;
}
/* END OF MOBILE NAVIGATION */

section[class="about"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    gap: 1rem;
}

article[class="about-article"] {
    text-align: center;
}
/* END OF ABOUT STYLING */

section[class="services"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    gap: 1rem;
}

article[class="services-column"] {
    padding: 2rem;
    text-align: center;
}

picture[class="services-image"]{
    padding: 1rem;
}


/* END OF SERVICES STYLING */

section[class="shipping"] .container{
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    gap: 1rem;
}

article[class="shipping-column"] {
    background-color: var(--color-secondary);
    padding: 1rem 0;
    text-align: center;
}

article[class="shipping-column"] i {
    color: var(--color-primary);
}
/* END OF SHIPPING STYLING */

section[class="testimonials"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    gap: 1rem;
    text-align: center;
}

figure[class="testimonial"] {
    background-color:  var(--color-secondary);
    padding: 1rem;
}

figure[class="testimonial"] h3 {
    line-height: 1rem;
}

figure[class="testimonial"] i {
    color: var(--color-primary);
}

.avatar img, source {
    width: 3rem;
    border-radius: 50%;
}
/* END OF TESTIMONIAL STYLING */

footer[id="footer"] {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

footer[id="footer"] a {
    color: var(--color-primary);
}
footer[id="footer"] a:hover {
    color: var(--color-alternate);

}

.footer-column {
    padding: 1.25rem;
    min-width: 12.5rem;
}

section[id="footer-main"] {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}


h2[class="footer-title"] {
    color:var(--color-primary);
    font-size: 1.375rem;
    padding-bottom:  0.625rem;
}
/* END OF FOOTER STYLING */

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"]{
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}
/* END OF SIGN UP AREA STYLING */

section[id="footer-socials"]{
    padding: 0 1.875rem 1.25rem;
}

ul[class="footer-icons"] {
    display: flex;
    justify-content: center;
    border-top: 1px var(--color-primary)solid;
    padding-top: 1.25rem;
}

ul[class="footer-icons"] li {
    margin: 0.5rem;
}
/*  END OF SOCIAL MEDIA STYLING */

section[id="footer-legal"] a {
    color: var(--color-secondary);
}

section[id="footer-legal"] {
    padding: 0.9375rem 1.875rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    
}

ul[class="footer-legal-items"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul[class="footer-legal-items"] li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;   
}

.footer-legal-items li:nth-of-type(2) {
    flex: 1;
}
/* END OF LEGAL SECTION STYLING */

/* ==== MEDIA QUERIES FOR FOOTER SECTION ====*/
@media only screen and (min-width: 480px) {
    section[id="footer-main"]{
        justify-content: space-around;
    }  
}

@media only screen and (min-width:1024px){
    section[id="footer-main"] {
        justify-content: space-evenly;
    }
}
/* END OF FOOTER SECTION */

/* === MEDIA QUERIES FOR LARGE SCREENS === */
@media screen and (min-width: 1024px) {
    #sidebar1, .bento {
        display: none;
    }
    
    .buttons {
        display: none;
    }
    header[id="header"] {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        
    }
    
    section h2 {
        padding: 4rem 0;
       
    }

    section[class="about"] .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

    }
    
    section[class="services"] .container {
        grid-template-columns: minmax(min-content, 1fr)
        minmax(min-content, 1fr) minmax(min-content, 1fr);
    }

    section[class="shipping"] .container {
        grid-template-columns: repeat(4, 1fr);
    
    }

    section[class="testimonials"] .container {
        grid-template-columns: repeat(4, 1fr);
    }


}

/* END OF MEDIA QUERIES FOR MAIN PAGE */


section[class="contact"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr)
    minmax(min-content, 1fr);
    gap: 1rem;
}

form[action="contact-form"] {
    background-color: var(--color-secondary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input, textarea, select, legend {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input, textarea {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

input[type="submit"] {
    display: block;
    min-width: 60%;
    height: 2em;
    font-size: 1rem;
    background-color: var(--color-primary);
    border-color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
}

section[class="contact"] aside {
    background-color: transparent;
    padding: 2rem;
}

 aside h3 {
    font-size: 1.5rem;
    color: var(--color-primary);
    padding-bottom: 0.5rem;
}

section[class="contact"] article {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

@media screen and (max-width: 1024px){
    section[class="contact"] .container {
        grid-template-columns: minmax(min-content, 1fr);
    }

    
}
/* END OF CONTACT PAGE  */
